* {margin: 0;padding: 0;}
@font-face {
    font-family: "Nasa";
    src: url(../assets/fonts/Nasa.ttf);
}

body{
    background: #1a1a1a;
}

nav {
    background: #111;
    color: #fff;
    padding: 20px;
}
nav a {
    font-family: Nasa;
    text-decoration: none;
    color: white;
}
#nasa-logo {
    font-size: 24px;
}
nav .btn-nav {
    height: 45px;
    float: right;
    padding: 15px;
    background-color: #111;
    border: none;
}
nav .btn-nav:hover{
    background-color: grey;
}
/*section1*/
.section1 {
    background-image: url(../assets/IMG/astronaut-recort.jpg);
    background-attachment: fixed;
}
.section1 #titulos {
    padding: 30%;
    font-size: 30px;
    font-family: Nasa;
    color: white;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}
/*section2*/
.section2 {
    padding: 20px 45px 45px 45px;
    background: #1a1a1a;
    text-align: center;
}
.section2 h2 {
    padding: 15px;
    color: #fff;
    text-shadow: #111 2px 2px 2px;
    border-bottom: solid silver;
}
.section2 p {
    font-size: 25px;
    margin-top: 35px;
    color: #fff;
}
/*sextion3*/
.section3 {
    background-image: url(../assets/IMG/aquapocaliptic.jpg);
    background-attachment: fixed;
    text-align: center;
    padding: 15%;
}
.section3 h2 {
    color: #fff;
    text-shadow: #111;
    border-bottom: solid silver;
    padding: 0px 15px 15px 15px;
    margin: 30px auto;
    max-width: 500px;
}
.section3 form {
    margin: auto; text-align: center;
    width: 300px;
    height: 380px;
    background: gray;
    border: solid #111;
}
.section3 form .name {
    margin-top: 15px;
}
.section3 form .name, .email {
    font-size: 17px;
    text-align: center;
    width: 250px;
    height: 30px;
    border: solid #000000b7;
}


.section3 form textarea {
    border: solid #000000b7;
    width: 250px;
    height: 125px;
}
.section3 p {
    font-size: 20px;
    padding: 7px;
}
.section3 #submit-p{
    padding: 0px 7px 7px 7px;
}
.section3 form #submit-form{
    padding: 5px;
}
/*footer*/
footer {
    padding: 15px;
    color: #fff;
    background-color: #111;
    text-align: center;
}

/*
@media screen and (min-width: 720px) {
    nav {width: 100%}
}
*/
